-# Form builder is passed in as 'form'
= form.input :id, :as => :hidden, :input_html => {:class => "action-id"}
= form.input :_type, :label => "Action Type", :input_html => {:class => "type-changer"}, :collection => @available_action_types, :include_blank => false
- form.object.keys.reject {|k, v| ["_id", "_type", "action_text"].include? k }.each do |k, v|
  = form.input k
= form.input :action_text
