-# Form builder passed in as form
.window
  = form.input :_destroy, :as => :hidden, :input_html => {:value => 0}
  = form.input :shortcode
  %a.destroy_code delete this code
  = form.input :splash_id, :as => :hidden
